---
layout: none
---

/* Base */

*
{
  margin: 0;
  padding: 0;
  border: 0;
}

html, body
{
  height: 100%;
}

body, input
{
  font-family: AvenirNext, "Segoe UI", Helvetica, sans-serif;
  font-size: 18px;
  line-height: 1.5;
  background-color: {{ site.colors.background }};
}

strong, b
{
  font-weight: 700;
}

a, a:visited
{
  color: {{ site.colors.tint }};
  text-decoration: none;
}
a:hover
{
  text-decoration: underline;
}

mark, .fake-mark
{
  background-color: {{ site.colors.highlight }};
}

table
{
  border-collapse: collapse;
  border-spacing: 0;
}
thead, th
{
  background-color: {{ site.colors.tint }};
  color: {{ site.colors.background }};
}
th, td
{
  padding: 5px 20px;
}
tr:nth-child(even)
{
    background-color: {{ site.colors.pastel }};
}

.columns, .columns-2
{
  column-count: 2;
  -webkit-column-count: 2;
  -moz-column-count: 2;
}
.columns-3
{
  column-count: 3;
  -webkit-column-count: 3;
  -moz-column-count: 3;
}
.columns-4
{
  column-count: 4;
  -webkit-column-count: 4;
  -moz-column-count: 4;
}

/* Disable WebKit glow */
:focus
{
  outline-color: transparent;
  outline-style: none;
}

/* Utility */

.wrap:before,
.wrap:after { content:""; display:table; }
.wrap:after { clear: both; }
.wrap {
  max-width: 800px;
  padding: 0 30px;
  margin: 0 auto;
  zoom: 1;
}

.right
{
  float: right;
}
.left
{
  float: left;
}
.clear
{
  clear: both;
  width: 0;
  height: 0;
}

.center
{
  text-align: center;
}

/* Styles */

/* Outdated IE warning */
.ie-warn
{
  background-color: {{ site.colors.highlight }};
  line-height: 56px;
}

/* Site header */

.site-header
{
  border-top: 5px solid {{ site.colors.tint }};
}

.site-header, .subheader
{
  border-bottom: 1px solid {{ site.colors.pastel }};
  min-height: 56px;
}

.site-title,
.site-title:hover,
.site-title:visited
{
  display: block;
  color: {{ site.colors.text }};
  font-size: 26px;
  float: left;
  position: relative;
  z-index: 1;
}

.site-nav
{
  float: right;
}

.site-title, .site-nav, .subnav
{
  line-height: 56px;
}

.site-nav a
{
  color: {{ site.colors.subdued }};
}
.site-nav a:hover
{
  color: {{ site.colors.text }};
}

.site-nav a, .subnav a
{
  margin-left: 10px;
}

.subnav
{
  float: right;
  position: relative;
  left: -50%; /* or right 50% */
  text-align: left;
}

.subnav > .page-link
{
  position: relative;
  left: 50%;
}

.subnav .page-link.selected
{
  font-weight: 700;
}

/* Site footer */

.site-footer
{
  border-top: 1px solid {{ site.colors.pastel }};
  padding: 30px 0;
  text-align: center;
}

/* Page Content styles */

.page
{
  padding: 30px 0;
}

.page-header
{
  margin: 10px 0 30px;
  text-align: center;
}

.page-header h1
{
  font-size: 42px;
  line-height: 1;
  font-weight: 800;
}

.meta
{
  color: {{ site.colors.subdued }};
  margin-top: 5px;
}

.page-content
{
  margin: 0 0 30px;
}
article > *
{
  margin-top: 18px;
  margin-bottom: 18px;
}

article h1,
article h2,
article h3,
article h4,
article h5,
article h6
{
  margin: 26px 0 14px 0;
}

h1, h2, h3, h4, h5, h6
{
  line-height: 1;
  font-weight: 700;
  margin: 18px 0 18px 0;
}

.page-content h2
{
  font-size: 32px;
}

.page-content h3
{
  font-size: 26px;
}

.page-content h4
{
  font-size: 20px;
}

.page-content blockquote
{
  border-left: 4px solid {{ site.colors.tint }};
  padding-left: 1em;
  margin: 1em 0;
}

pre,
code
{
  border: 1px solid {{ site.colors.shading }};
  background-color: {{ site.colors.pastel }};
  font-family: Menlo, Consolas, monospace;
  font-size: 15px;
}

pre
{
  padding: 8px 12px;
}
code
{
  padding: 1px 4px;
}
pre code
{
  border: 0;
  padding: 0;
}

ul, ol
{
  margin-left: 1.35em;
}

/* List of posts */

.home h1 { margin-bottom: 25px; }

ul.posts
{
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}

.posts li
{
  margin-bottom: 30px;
}

.posts .post-link
{
  font-size: 24px;
  line-height: 1;
}

.posts .meta
{
  display: block;
}

/* Forms */

/* Disable Mobile Safari default appearance */
input, textarea
{
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

label
{
  margin-right: 5px;
  display: inline-block;
  width: 55px;
  text-align: right;
}

input[type="text"],
input[type="password"],
input[type="email"]
{
  border: 1px solid {{ site.colors.pastel }};
  background-color: {{ site.colors.pastel }};
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
  width: 200px;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus
{
  border: 1px solid {{ site.colors.tint }};
}

input[type="submit"]
{
  background-color: {{ site.colors.tint }};
  cursor: pointer;
  color: {{ site.colors.pastel }};
  padding: 15px;
  line-height: 1;
}
input[type="submit"]:hover
{
  color: {{ site.colors.background }};
}

/* Homepage */

/* reapply the padding to .hero */
.home .page
{
  padding: 0;
}
.home .hero
{
  padding: 30px 0px 0px 0px;
}

.home .hero
{
  display: block;
  width: 100%;
  height: 720px;
  background: url("{{ "/home/kmr-2014-hero.jpg" | prepend: site.assets | prepend: site.baseurl; }}") no-repeat;
  background-position: 50% 50%;
  background-size: 1440px auto;
  text-decoration: none;
}

.hero p
{
  color: white;
  font-weight: 300;
  letter-spacing: -0.05em;
  line-height: 1.2;
  text-align: center;
  text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
}
.hero .headline
{
  font-size: 86px;
  padding-top: 0.4em;
}
.hero .subtitle
{
  font-size: 60px;
}

/* Gallery */

img.gallery-item
{
  height: 150px;
  width: auto;
}
a.gallery-item
{
  display: inline-block;
  float: left;
  font-size: 0; /* trick to remove spacing on inline-block elements */
  margin: 0 7px 7px 0;
}

/* Sponsors */

.sponsor-logo
{
  margin-right: 20px;
  margin-bottom: 20px;
}

.sponsor-heading
{
  text-align: center;
  margin-top: 50px;
}

/* Media queries */

@media screen and (max-width: 856px)
{
  body
  {
    text-size-adjust: none;
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
  }
  .wrap
  {
    padding: 0 20px;
  }
  .page.wrap
  {
    padding-bottom: 20px;
  }
  
  img, video, iframe, object
  {
    max-width: 100%;
    height: auto;
  }
  
  .site-title, .site-nav
  {
    line-height: 40px;
    width: 100%;
    text-align: center;
  }
  .site-nav a:first-child
  {
    margin-left: 0;
  }
  
  .home .hero
  {
    background-size: 168.2% auto; /* 1440px/856px = 1.682 */
    height: 583px; /* 750px / 856px * 700px - 30px */
  }
  .hero .headline
  {
    font-size: 70px;
  }
  .hero .subtitle
  {
    font-size: 52px;
  }
}

@media screen and (max-width: 700px)
{
  .hero p
  {
    font-weight: 400;
  }
  .hero .headline
  {
    font-size: 40px;
  }
  .hero .subtitle
  {
    font-size: 30px;
  }
  .home .hero
  {
    height: 384px; /* 470px / 856px * 700px - 30px */
  }
  .columns, .columns-2, .columns-3, .columns-4
  {
    column-count: 1;
    -webkit-column-count: 1;
    -moz-column-count: 1;
  }
}

@media screen and (max-width: 600px)
{
  img.gallery-item
  {
    height: 75px;
  }
  a.gallery-item
  {
    margin: 0 3px 3px 0;
  }
  #navlink-home
  {
    display: none;
  }
}

@media screen and (max-width: 470px)
{
  .hero .headline
  {
    font-size: 30px;
  }
  .hero .subtitle
  {
    font-size: 22px;
  }
  .home .hero
  {
    height: 215px; /* 300px / 856px * 700px - 30px */
  }
  .site-title, .site-nav
  {
    line-height: 30px;
  }
  .site-nav .page-link
  {
    margin-left: 4px;
  }
  .site-title,
  .site-title:hover,
  .site-title:active
  {
    font-size: 20px;
  }
  .site-nav .page-link, .site-footer p
  {
    font-size: 13px;
  }
}

/* Fonts */

@font-face
{
  font-family: AvenirNext;
  src: /* local("AvenirNext-UltraLight"), local("Avenir Next Ultra Light"), */ url('{{ site.baseurl }}/fonts/AvenirNext-UltraLight.woff');
  font-weight: 300;
}

@font-face
{
  font-family: AvenirNext;
  src: /* local("AvenirNext-UltraLightItalic"), local("Avenir Next Ultra Light Italic"), */ url('{{ site.baseurl }}/fonts/AvenirNext-UltraLightItalic.woff');
  font-weight: 300;
  font-style: italic;
}

@font-face
{
  font-family: AvenirNext;
  src: /* local("Avenir Next Regular"), local("AvenirNext-Regular"), */ url('{{ site.baseurl }}/fonts/AvenirNext-Regular.woff');
  font-weight: 400;
}

@font-face
{
  font-family: AvenirNext;
  src: /* local("Avenir Next Italic"), local("AvenirNext-Italic"), */ url('{{ site.baseurl }}/fonts/AvenirNext-Italic.woff');
  font-weight: 400;
  font-style: italic;
}

@font-face
{
  font-family: AvenirNext;
  src: /* local("Avenir Next Medium"), local("AvenirNext-Medium"), */ url('{{ site.baseurl }}/fonts/AvenirNext-Medium.woff');
  font-weight: 600;
}

@font-face
{
  font-family: AvenirNext;
  src: /* local("AvenirNext-MediumItalic"), local("Avenir Next Medium Italic"), */ url('{{ site.baseurl }}/fonts/AvenirNext-MediumItalic.woff');
  font-weight: 600;
  font-style: italic;
}

@font-face
{
  font-family: AvenirNext;
  src: /* local("AvenirNext-DemiBold"), local("Avenir Next Demi Bold"), */ url('{{ site.baseurl }}/fonts/AvenirNext-DemiBold.woff');
  font-weight: 700;
}

@font-face
{
  font-family: AvenirNext;
  src: /* local("AvenirNext-DemiBoldItalic"), local("Avenir Next Demi Bold Italic"), */ url('{{ site.baseurl }}/fonts/AvenirNext-DemiBoldItalic.woff');
  font-weight: 700;
  font-style: italic;
}

@font-face
{
  font-family: AvenirNext;
  src: /* local("AvenirNext-Bold"), local("Avenir Next Bold"), */ url('{{ site.baseurl }}/fonts/AvenirNext-Bold.woff');
  font-weight: 800;
}

@font-face
{
  font-family: AvenirNext;
  src: /* local("Avenir Next Bold Italic"), local("AvenirNext-BoldItalic"), */ url('{{ site.baseurl }}/fonts/AvenirNext-BoldItalic.woff');
  font-weight: 800;
  font-style: italic;
}

@font-face
{
  font-family: AvenirNext;
  src: /* local("AvenirNext-Heavy"), local("Avenir Next Heavy"), */ url('{{ site.baseurl }}/fonts/AvenirNext-Heavy.woff');
  font-weight: 900;
}

@font-face
{
  font-family: AvenirNext;
  src: /* local("Avenir Next Heavy Italic"), local("AvenirNext-HeavyItalic"), */ url('{{ site.baseurl }}/fonts/AvenirNext-HeavyItalic.woff');
  font-weight: 900;
  font-style: italic;
}



@font-face
{
  font-family: AvenirNextCondensed;
  src: /* local("Avenir Next Condensed Ultra Light"), local("AvenirNextCondensed-UltraLight"), */ url('{{ site.baseurl }}/fonts/AvenirNextCondensed-UltraLight.woff');
  font-stretch: condensed;
  font-weight: 300;
}

@font-face
{
  font-family: AvenirNextCondensed;
  src: /* local("AvenirNextCondensed-UltraLightItalic"), local("Avenir Next Condensed Ultra Light Italic"), */ url('{{ site.baseurl }}/fonts/AvenirNextCondensed-UltraLightItalic.woff');
  font-stretch: condensed;
  font-weight: 300;
  font-style: italic;
}

@font-face
{
  font-family: AvenirNextCondensed;
  src: /* local("AvenirNextCondensed-Regular"), local("Avenir Next Condensed Regular"), */ url('{{ site.baseurl }}/fonts/AvenirNextCondensed-Regular.woff');
  font-stretch: condensed;
  font-weight: 400;
}

@font-face
{
  font-family: AvenirNextCondensed;
  src: /* local("AvenirNextCondensed-Italic"), local("Avenir Next Condensed Italic"), */ url('{{ site.baseurl }}/fonts/AvenirNextCondensed-Italic.woff');
  font-stretch: condensed;
  font-weight: 400;
  font-style: italic;
}

@font-face
{
  font-family: AvenirNextCondensed;
  src: /* local("AvenirNextCondensed-Medium"), local("Avenir Next Condensed Medium"), */ url('{{ site.baseurl }}/fonts/AvenirNextCondensed-Medium.woff');
  font-stretch: condensed;
  font-weight: 600;
}

@font-face
{
  font-family: AvenirNextCondensed;
  src: /* local("Avenir Next Condensed Medium Italic"), local("AvenirNextCondensed-MediumItalic"), */ url('{{ site.baseurl }}/fonts/AvenirNextCondensed-MediumItalic.woff');
  font-stretch: condensed;
  font-weight: 600;
  font-style: italic;
}

@font-face
{
  font-family: AvenirNextCondensed;
  src: /* local("AvenirNextCondensed-DemiBold"), local("Avenir Next Condensed Demi Bold"), */ url('{{ site.baseurl }}/fonts/AvenirNextCondensed-DemiBold.woff');
  font-stretch: condensed;
  font-weight: 700;
}

@font-face
{
  font-family: AvenirNextCondensed;
  src: /* local("AvenirNextCondensed-DemiBoldItalic"), local("Avenir Next Condensed Demi Bold Italic"), */ url('{{ site.baseurl }}/fonts/AvenirNextCondensed-DemiBoldItalic.woff');
  font-stretch: condensed;
  font-weight: 700;
  font-style: italic;
}

@font-face
{
  font-family: AvenirNextCondensed;
  src: /* local("Avenir Next Condensed Bold"), local("AvenirNextCondensed-Bold"), */ url('{{ site.baseurl }}/fonts/AvenirNextCondensed-Bold.woff');
  font-stretch: condensed;
  font-weight: 800;
}

@font-face
{
  font-family: AvenirNextCondensed;
  src: /* local("AvenirNextCondensed-BoldItalic"), local("Avenir Next Condensed Bold Italic"), */ url('{{ site.baseurl }}/fonts/AvenirNextCondensed-BoldItalic.woff');
  font-stretch: condensed;
  font-weight: 800;
  font-style: italic;
}


@font-face
{
  font-family: AvenirNextCondensed;
  src: /* local("AvenirNextCondensed-Heavy"), local("Avenir Next Condensed Heavy"), */ url('{{ site.baseurl }}/fonts/AvenirNextCondensed-Heavy.woff');
  font-stretch: condensed;
  font-weight: 900;
}

@font-face
{
  font-family: AvenirNextCondensed;
  src: /* local("Avenir Next Condensed Heavy Italic"), local("AvenirNextCondensed-HeavyItalic"), */ url('{{ site.baseurl }}/fonts/AvenirNextCondensed-HeavyItalic.woff');
  font-stretch: condensed;
  font-weight: 900;
  font-style: italic;
}

/* Syntax highlighting styles */
/* ----------------------------------------------------------*/

.highlight  { background: #ffffff; }
.highlight .c { color: #999988; font-style: italic } /* Comment */
.highlight .err { color: #a61717; background-color: #e3d2d2 } /* Error */
.highlight .k { font-weight: bold } /* Keyword */
.highlight .o { font-weight: bold } /* Operator */
.highlight .cm { color: #999988; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #999999; font-weight: bold } /* Comment.Preproc */
.highlight .c1 { color: #999988; font-style: italic } /* Comment.Single */
.highlight .cs { color: #999999; font-weight: bold; font-style: italic } /* Comment.Special */
.highlight .gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
.highlight .gd .x { color: #000000; background-color: #ffaaaa } /* Generic.Deleted.Specific */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #aa0000 } /* Generic.Error */
.highlight .gh { color: #999999 } /* Generic.Heading */
.highlight .gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
.highlight .gi .x { color: #000000; background-color: #aaffaa } /* Generic.Inserted.Specific */
.highlight .go { color: #888888 } /* Generic.Output */
.highlight .gp { color: #555555 } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #aaaaaa } /* Generic.Subheading */
.highlight .gt { color: #aa0000 } /* Generic.Traceback */
.highlight .kc { font-weight: bold } /* Keyword.Constant */
.highlight .kd { font-weight: bold } /* Keyword.Declaration */
.highlight .kp { font-weight: bold } /* Keyword.Pseudo */
.highlight .kr { font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #445588; font-weight: bold } /* Keyword.Type */
.highlight .m { color: #009999 } /* Literal.Number */
.highlight .s { color: #d14 } /* Literal.String */
.highlight .na { color: #008080 } /* Name.Attribute */
.highlight .nb { color: #0086B3 } /* Name.Builtin */
.highlight .nc { color: #445588; font-weight: bold } /* Name.Class */
.highlight .no { color: #008080 } /* Name.Constant */
.highlight .ni { color: #800080 } /* Name.Entity */
.highlight .ne { color: #990000; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #990000; font-weight: bold } /* Name.Function */
.highlight .nn { color: #555555 } /* Name.Namespace */
.highlight .nt { color: #000080 } /* Name.Tag */
.highlight .nv { color: #008080 } /* Name.Variable */
.highlight .ow { font-weight: bold } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mf { color: #009999 } /* Literal.Number.Float */
.highlight .mh { color: #009999 } /* Literal.Number.Hex */
.highlight .mi { color: #009999 } /* Literal.Number.Integer */
.highlight .mo { color: #009999 } /* Literal.Number.Oct */
.highlight .sb { color: #d14 } /* Literal.String.Backtick */
.highlight .sc { color: #d14 } /* Literal.String.Char */
.highlight .sd { color: #d14 } /* Literal.String.Doc */
.highlight .s2 { color: #d14 } /* Literal.String.Double */
.highlight .se { color: #d14 } /* Literal.String.Escape */
.highlight .sh { color: #d14 } /* Literal.String.Heredoc */
.highlight .si { color: #d14 } /* Literal.String.Interpol */
.highlight .sx { color: #d14 } /* Literal.String.Other */
.highlight .sr { color: #009926 } /* Literal.String.Regex */
.highlight .s1 { color: #d14 } /* Literal.String.Single */
.highlight .ss { color: #990073 } /* Literal.String.Symbol */
.highlight .bp { color: #999999 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #008080 } /* Name.Variable.Class */
.highlight .vg { color: #008080 } /* Name.Variable.Global */
.highlight .vi { color: #008080 } /* Name.Variable.Instance */
.highlight .il { color: #009999 } /* Literal.Number.Integer.Long */