<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ page.title }} — {{ site.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ site.description }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    {% for path in page.inject_css %}
    <link rel="stylesheet" href="{{ path | prepend: "/css/" | prepend: site.baseurl }}">
    {% endfor %}
    {% for js in page.inject_js %}
    <script src="{{ js.url | prepend: "/js/" | prepend: site.baseurl }}" {{ js.type }}></script>
    {% endfor %}
  </head>

  <body>
    <!--[if lte IE 9]>
    <div class="ie-warn">
      <div class="wrap">
        <p>Internet Explorer is out of date. Some pages on this site will not display correctly. <strong><a href="http://whatbrowser.org/">Upgrade here.</a></strong></p>
      </div>
    </div>
    <![endif]-->
    <header class="site-header">
      <div class="wrap">
        <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
        <nav class="site-nav">
          {% for page in site.navlinks %}
          <a class="page-link" id="navlink-{{ page.title | downcase }}" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          {% endfor %}
        </nav>
      </div>
    </header>
    
    {{ content }}
    
    <footer class="site-footer">
      <div class="wrap">
        <img src="{{ "/fsae-logo.svg" | prepend: site.assets | prepend: site.baseurl }}" width="70" height="50" alt="Columbia FSAE logo" style="max-height: 100%">
        <p class="meta">{{ site.description }}</p>
      </div>
    </footer>
  </body>
</html>
