---
layout: default
---

{% if page.subnavlinks %}
<header class="subheader">
  <div class="wrap">
    <nav class="subnav">
      {% for link in page.subnavlinks %}
      <a class="page-link {% if link.url == page.permalink %}selected{% endif%}" href="{{ link.url | prepend: site.baseurl }}">{{ link.title }}</a>
      {% endfor %}
    </nav>
  </div>
</header>
{% endif %}

<div class="page wrap">
  <header class="page-header">
    <h1>{{ page.title }}</h1>
    <p class="meta">{% if page.date %}{{ page.date | date: "%-d %b %Y" }}{% endif %}{% if page.author %} • {{ page.author }}{% endif %}</p>
    <p class="meta">{% if page.meta %}{{ page.meta }}{% endif %}</p>
  </header>
  
  <article class="page-content">
  {{ content }}
  </article>
</div>
